.animation-container {
  position: relative;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ufo {
  position: absolute;
  animation: moveAcross 1s linear forwards, pulse 1s infinite alternate;
  animation-duration: 1s, 1s;
  animation-delay: 0s, 1s;
}

@keyframes moveAcross {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hidden {
  display: none;
}

.nav {
  background-color: #403A5D;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;

  h1 {
    font-size: 3rem;
  }
}

.content {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.white-space-padding {
  padding-left: 2%;
  padding-right: 2%;
}


.svgChartContainer {
  max-width: 100%;
  height: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-card {
  background-color: #6e688b;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-top: 4%;
}

.chart-title {
  font-size: 2rem;
}

.font-important {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: .1rem;
  font-weight: 400;
  font-style: normal;
}

.pie .slice {
  transition-duration: 0.2s;
  transition-property: filter, opacity;
  filter: saturate(100%);
  opacity: 1;
  cursor: pointer;
}

.pie.slice-active .slice {
  filter: saturate(50%);
  opacity: 0.5;
}

.pie.slice-active .slice:hover {
  filter: saturate(100%);
  opacity: 1;
}

